<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>servlet</display-name>
    <servlet-name>servlet</servlet-name>
    <servlet-class>servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet</servlet-name>
    <url-pattern>/servlet</url-pattern>
  </servlet-mapping>
  <display-name>smplit</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>sunita.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServle</display-name>
    <servlet-name>LoginServle</servlet-name>
    <servlet-class>cscorner.LoginServle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServle</servlet-name>
    <url-pattern>/LoginServle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadAudioServlet</display-name>
    <servlet-name>UploadAudioServlet</servlet-name>
    <servlet-class>UploadAudioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadAudioServlet</servlet-name>
    <url-pattern>/UploadAudioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAudioServlet</display-name>
    <servlet-name>GetAudioServlet</servlet-name>
    <servlet-class>GetAudioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAudioServlet</servlet-name>
    <url-pattern>/GetAudioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadAudioServlet</display-name>
    <servlet-name>DownloadAudioServlet</servlet-name>
    <servlet-class>DownloadAudioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadAudioServlet</servlet-name>
    <url-pattern>/DownloadAudioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrieveAudioServlet</display-name>
    <servlet-name>RetrieveAudioServlet</servlet-name>
    <servlet-class>RetrieveAudioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveAudioServlet</servlet-name>
    <url-pattern>/RetrieveAudioServlet</url-pattern>
  </servlet-mapping>
</web-app>